.card {
    width: 50rem;
}

img {
    width: 60%;
}

.plr20 {
    padding-left: 10px;
    padding-right: 0;
}

.prl20 {
    padding-left: 0;
    padding-right: 10px;
}

@media (max-width: 769px) {
    img {
        width: 80%;
    }
}