<div [hidden]="display">
    <button class="btn btn-success" (click)="openForm()">Add new part for sale</button>
</div>

<div class="create-part card" [hidden]="!display">
    <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)" class="card-body">
        <br><br>
        <h2>Create Part for Sale</h2>

        <div class="form-group">
            <input minlength="3" required class="form-control" formControlName="name" placeholder="Name / Title">
            <div class="text-danger" *ngIf="fC.name.invalid && submitted">Name must be at least 3 characters long.</div>
        </div>

        <div class="row text-center">
            <img [src]="imgSrc" alt="photo" (click)="fileUploader.click()">
            <!-- (dragover)="onDragOver($event)" (drop)="onDrop($event)" -->
        </div>
        <div class="form-group">
            <input type="file" accept="image/*" class="form-control" formControlName="image" #fileUploader (change)="showPreview($event)">
            <div class="text-danger" *ngIf="fC.image.invalid && fC.image.touched">Quantity must be up to 100</div>
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input type="number" min="1" max="100" class="form-control" formControlName="quantity">
            <div class="text-danger" *ngIf="fC.quantity.invalid">Quantity must be up to 100</div>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" min="0.01" max="100000" step="0.01" class="form-control" formControlName="price">
            <div class="text-danger" *ngIf="fC.price.invalid && submitted">Type correct value</div>
        </div>

        <div class="form-group">
            <textarea rows="3" class="form-control" formControlName="description" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>