<div class="container-fluid footer">
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <ul>
                    <li>
                        <h3><a href="#myPage">
                            Site Links
                        </a></h3>
                    </li>
                    <li *ngFor="let link of linksLink">
                        <a href="" href="{{link.target}}" (click)="sendMessage(link.target)">{{link.display}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-7">
            <h3>We on the web</h3>
            <p>
                <a href="https://www.youtube.com/channel/UCXweXgoiLWD7ybJKQ4G2hUw" target="_blank">
                    <i class="fab fa-youtube">&nbsp;-&nbsp;YouTube</i>
                </a>
            </p>
            <p>
                <a href="https://www.facebook.com/HomeAndCarService/" target="_blank">
                    <i class="fab fa-facebook">&nbsp;-&nbsp;Facebook</i>
                </a>
            </p>
            <p>
                <a href="mailto:candhservice@gmail.com" target="_blank">
                    <i class="far fa-envelope">&nbsp;-&nbsp;Gmail</i>
                </a>
            </p>
            <p>
                <a href="tel:0871-222-770" target="_blank">
                    <i class="fa fa-mobile-alt">&nbsp;-&nbsp;0871 222 770</i>
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <p class="break-line text-center">
            <span>
                &copy; 2020 Home & Car Services
            </span>
            <span>
                Author: <a href="mailto:bogdanpasterak@gmail.com" target="_blank"> Bogdan Pasterak </a>
            </span>
        </p>
    </div>
</div>