<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage" (click)="sendMessage('myPage')"><img class="logo-navbar" src="assets/img/logo.svg" alt="Logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li *ngFor="let nav of navbarlist">
                    <a *ngIf="nav.public" href={{nav.target}} (click)="sendMessage(nav.target)">{{nav.display}}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>