.navbar {
    margin-bottom: 0;
    background-color: #107;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-nav li.active a {
    color: #805 !important;
    background-color: #39f!important;
}

.navbar-nav li a:hover {
    color: #805 !important;
    background-color: #cff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand {
    padding: 4px;
}

.logo-navbar {
    width: 60px;
    padding: 4px;
    background-color: white;
}

.logo-navbar:hover {
    background-color: #cff;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}