<div class="card">
    <h3 class="card-title text-center">{{ part.name }}</h3>
    <img [src]='part.image' alt="image" class="card-img">
    <div>
        <span>Price: <b>&euro; {{ part.price }}</b></span>
        <span class="right">Quantity: <b>{{ part.quantity }}</b> pcs</span>
    </div>

    <p class="card-text">{{ part.description }}</p>
    <div *ngIf="(afAuth.user | async)">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-success btn-block" (click)="editItem()">Edit</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-danger btn-block" (click)="deleteItem()">Delete</button>
            </div>
        </div>
    </div>
</div>