<div class="login">
    <div class="card space-navbar" *ngIf="(afAuth.user | async) as user; else loginPanel">
        <div class="row">
            <h4 class="col-xs-12 text-center">Welcome <b>{{user.email}}</b></h4>
            <div class="row">
                <div class="col-xs-4 less">
                    <button class="btn btn-success btn-block" (click)="logout()">Logout</button>
                </div>
                <div class="col-xs-4 less">
                    <button class="btn btn-primary btn-block" (click)="addNewItem()">Add item</button>
                </div>
                <div class="col-xs-4 less">
                    <button class="btn btn-warning btn-block" (click)="loginForm()">Add new admin</button>
                </div>
            </div>
        </div>
        <app-create-part [hidden]="!newItem" (msgEvent)="receiveMsg($event)"></app-create-part>
        <div [hidden]="!form">
            <h3>Adding Administrator</h3>
            <div class="card-body">
                <div class="row form-group mb-1">
                    <label class="col-xs-4 col-sm-2">Email </label>
                    <input name="email" [(ngModel)]="newUser.email" class="col-xs-7 col-sm-5">
                </div>
                <div class="row form-group mb-1">
                    <label class="col-xs-4 col-sm-2"> Password </label>
                    <input name="password" type="password" [(ngModel)]="newUser.password" class="col-xs-7 col-sm-5">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-danger btn-block" (click)="register()">Create new acount</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-success btn-block" (click)="cancelNewAdmin()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loginPanel>
        <div class="space-navbar" *ngIf="data">
            <h2>Loggin as Administrator</h2>
            <div class="row form-group mb-1">
                <label class="col-xs-4 col-sm-2">Email </label>
                <input name="email" [(ngModel)]="loggedUser.email" class="col-xs-7 col-sm-5">
            </div>
            <div class="row form-group mb-1">
                <label class="col-xs-4 col-sm-2"> Password </label>
                <input name="password" type="password" [(ngModel)]="loggedUser.password" class="col-xs-7 col-sm-5">
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block" (click)="login()">Login</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success btn-block" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>