<div class="contact space-navbar container-fluid">
    <div class="row">
        <h2 class="col">Contact</h2>
    </div>
    <div class="row">

        <div class="col-sm-2">

            <div class="myrow text-center row">
                <div class="col">
                    <h4>Address</h4>
                    <p>Unit 4</p>
                    <p> Kelly's Unit</p>
                    <p> Glencar</p>
                    <p> Letterkenny</p>
                    <p> co. Donegal</p>
                </div>
            </div>
            <div class="myrow text-center row">
                <div class="col">
                    <h4>Eir Code</h4>
                    <p> F92 W660</p>
                </div>
            </div>
            <div class="myrow text-center row">
                <div class="col">
                    <h4>GPS Location</h4>
                    <p>Lat: 54.95883</p>
                    <p>Long: -7.7475</p>
                </div>

            </div>

        </div>

        <div class="col-sm-10 text-center" id="mapcontainer">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2290.7390829994!2d-7.747636683960312!3d54.960137060311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTTCsDU3JzM2LjUiTiA3wrA0NCc0My42Ilc!5e0!3m2!1sen!2sie!4v1583527526984!5m2!1sen!2sie"
                id="map" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
            </iframe>

        </div>

    </div>
</div>