<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-navbar id="myPage" (messageEvent)="receiveMsg($event)"></app-navbar>
<app-header></app-header>
<div id="about" class="space-navbar" style="width: 100%; height: 500px; background-color: #aff;">
    <p>fill 1</p>
</div>
<h1>{{title}}</h1>
<div id="home" class="space-navbar" style="width: 100%; height: 500px; background-color: #faf;">
    <p>fill 2</p>
</div>
<div id="car" class="space-navbar" style="width: 100%; height: 500px; background-color: #ffa;">
    <p>fill 3</p>
</div>
<div id="contact" class="space-navbar" style="width: 100%; height: 500px; background-color: #afa;">
    <p>fill 4</p>
</div>
<div class="content" role="main"></div>


<router-outlet></router-outlet>