<app-navbar id="myPage" (messageEvent)="receiveMsg($event)"></app-navbar>
<div class="homeandcar">
    <div *ngIf="mainpage; else salepage" [hidden]="login">
        <app-header></app-header>
        <!-- <p *ngIf="(afAuth.user | async) as user; else nikt">{{user.email}}</p> -->
        <ng-template #nikt>Nikt</ng-template>
        <app-about id="about"></app-about>

        <app-home id="home"></app-home>
        <!-- <p>{{section}}</p> -->
        <app-car id="car"></app-car>
        <app-contact id="contact"></app-contact>
        <div class="content" role="main"></div>
    </div>
    <ng-template #salepage class="space-navbar">
        <div [hidden]="login">

            <app-login id="login" (messageEvent)="receiveMsg($event)" [data]="data"></app-login>
            <app-forsale id="forsale"></app-forsale>
        </div>

    </ng-template>
</div>
<app-footer id="footer" (messageEvent)="receiveMsg($event)"></app-footer>